<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>게시글 목록</title>
</head>
<body th:align="center">
	<h1>게시글 목록</h1>
	<span id="login-user" th:text="${userName}">사용자</span> 님, 안녕하세요.
	<span>
		<a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a th:href="@{/admin/adminMain}">게시판 관리</a>
		<a th:href="@{/system/main}">메인으로</a>
	</span>
	<hr>
	<form th:action="@{/board/getBoardList}" method="post">
		<table th:align="center" th:border="1" th:cellspacing="0"
			th:cellpadding="0" th:width="700">
			<tr>
				<td align="right"><select name="searchCondition">
						<option value="TITLE">제목</option>
						<option value="CONTENT">내용</option>
				</select> <input name="searchKeyword" type="text" /> <input type="submit"
					value="검색" /></td>
			</tr>
		</table>
	</form>


	<table th:align="center" th:border="1" th:cellspacing="0"
		th:cellpadding="0" th:width="700">
		<tr>
			<th bgcolor="orange" width="50">번호</th>
			<th bgcolor="orange" width="400">제목</th>
			<th bgcolor="orange" width="100">작성자</th>
			<th bgcolor="orange" width="100">등록일</th>
			<th bgcolor="orange" width="50">조회수</th>
		</tr>
		<tr th:each="board, state : ${boardList}">
			<td th:text="${state.count}" th:align="center">
			<td><a th:href="@{/board/getBoard(seq=${board.seq})}"
				th:text="${board.title}"></a></td>
			<td th:text="${board.user.nickname}" th:align="center">
			<td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"
				th:align="center">
			<td th:text="${board.cnt}" th:align="center">
		</tr>
	</table>
	<div th:if="${!boardList.isEmpty()}">
			<div class="page-item"
				th:classappend="${!boardList.hasPrevious} ? 'disabled'"><a
				class="page-link" th:href="@{|?page=${boardList.number-1}|}"> <span>이전</span>
			</a></div>
			<div th:each="page: ${#numbers.sequence(0, boardList.totalPages-1)}"
				th:classappend="${page == boardList.number} ? 'active'"
				class="page-item"><a th:text="${page}" class="page-link"
				th:href="@{|?page=${page}|}"></a></div>
			<div class="page-item"
				th:classappend="${!boardList.hasNext} ? 'disabled'"><a
				class="page-link" th:href="@{|?page=${boardList.number+1}|}"> <span>다음</span>
			</a></div>
	</div>



	<br>
	<a th:href="@{/board/insertBoard}">게시글 등록</a>
</body>
</html>