<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>로그인</title>
</head>
<body th:align="center">
	<div id="wrapper">
		<div class="header">
			<h1 class="logo">
				<a href="#">Main</span></a>
			</h1>
		</div>
		
		<div id="contents">
			
	<div class="loginSec">
	
		<!--ID Login--->
		<div class="Login" id="Login">
			<form method="post">
				<div class="acchidden">로그인</div>
				<div class="id"><input type="text" name="username" placeholder="ID (아이디 또는 이메일)"></div>
				<div class="pass"><input type="password" name="password" placeholder="비밀번호"></div>
				<div class="btLogin"><input type="submit" value="로그인" /></div>
			</form>
		</div>
		<p class="loginMenu">
			<a href="#" class="join" th:href="@{/system/register}">회원가입</a>
			<a href="#" class="schId" >ID 찾기</a>
			<a href="#" class="schPass" >비밀번호 찾기</a>
		</p>
		
		<div class="tpa">
			<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
			<button type="button" class="btNaver" data-a2s="click" data-object="P_LOGIN" data-option='{"Name":"NexonID_Login","Type":"TPA_Naver"}'><span class="icon"></span>Naver 로그인</button>
		</div>
		
	
	</div>

		</div>
		<div class="footer">
			<p class="copyright">© LST Corporation All Rights Reserved.</p>
		</div>
	</div>
	

</body>
</html>
