<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>게시글 목록</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/mainTeplate.css}">
<body>
<header>
	
    <span id="login-user" th:if ="${userName != null}"th:text="${userName}">사용자</span> 님, 안녕하세요.
	<span th:nuless="${userName != null}" sec:authentication="principal.username"></span>
	<a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
		
</header>
	
<article>
	<div>
		<a th:href="@{/calendar/{year}/{month}(year=${year}, month=${month})}">켈린더 바로가기</a>
	</div>
	
	<div>
		<a href="/board/getBoardList">게시판 바로가기</a>
	</div>
</article>

<footer>

</footer>
	
	
</body>
</html>