<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<title>게시글 목록</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/mainTeplate.css}">
<body>
<header>
	<span sec:authorize="isAuthenticated()"> <b> <font
			color="blue"> <span
				sec:authentication="principal.user.nickname"></span>
		</font>
	</b>님 환영합니다. <a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
		
	</span>
</header>
	
<article>
	<div>
		<a th:href="@{/calendar/{year}/{month}(year=${year}, month=${month})}">켈린더 바로가기</a>
	</div>
	
	<div>
		<a href="/board/getBoardList">게시판 바로가기</a>
	</div>
</article>

<footer>

</footer>
	
	
</body>
</html>