<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>내 정보</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/mainTeplate.css}">
<body>
<header>
	<span sec:authorize="isAuthenticated()"> 
		<b>
			<font color="blue">
				<span sec:authentication="principal.user.nickname"></span>
			</font>
		</b>님 환영합니다. <a th:href="@{/system/logout}">로그아웃</a>&nbsp;&nbsp;&nbsp;&nbsp;
		<a th:href="@{/system/main}">메인으로</a>	
	</span>
</header>
	
<article>
	<div id="info" >
		<div>
			<span>아이디 : </span><span sec:authentication="principal.user.id" > </span>
		</div>
		<div>
			<span>이메일 : </span><span sec:authentication="principal.user.email" > </span>
		</div>	
		<div>
			<span>닉네임 : </span><span sec:authentication="principal.user.nickname" > </span>
		</div>
		<div>
			<span>전화번호 : </span><span sec:authentication="principal.user.phone" > </span>
		</div>
		<div>
			<span>가족코드 : </span><span sec:authentication="principal.user.familyCode" ></span>
		</div>
	</div>

</article>

<footer>

</footer>
	
	
</body>

</html>