@charset "UTF-8";
body{
	display:flex;
	width :1200px;
	height:100%;
	align-items:center;
	flex-direction: column;
}
header{
	height:130px;
}
article{
	width:1000px;
	margin-top:20px;
	margin-bottom:20px;
	flex:1;
}
footer{
	height:250px;
}

.calendar{
	width:1000px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid;
	
}
.week{
	width:1000px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid;
}
.day{
	width:135px;
	height:70px;
	text-align:right;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.sun{
	color:red;
}
.sat{
	color:blue;
}